.calendar {
  width: 100%;
  border-spacing: 0 10px;
}

.calendar .event {
  vertical-align: top;
}

.calendar .symbol {
  padding-right: 15px;
  font-size: 20px;
  width: 30px;
}

.calendar .title {
  padding-right: 15px;
  max-width: 300px;
}

.calendar .time {
  text-align: right;
  white-space: nowrap;
}
