.weather .weathericon {
  font-size: 50px;
  line-height: 1;
  display: inline-block;
  margin-right: 10px;
}

.weather .temperature {
  font-size: 65px;
  line-height: 1;
  font-weight: 300;
}

.weather .small {
  margin-top: 10px;
}
